* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-image: url('img/desk-g62c78a5ce_1920.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#add-task-container {
    width: 22vw;

    padding: 20px 10px;

    background: white;

    display: flex;
    flex-wrap: wrap;

    border-radius: 20px;
    box-shadow: 0 0 3px;

    margin: 20px 0 20px 0;

    display: flex;
}

#container {
    overflow: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    padding: 1%;
}

#text {
    width: 70%;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 5px;
}

#btn1 {
    height: 5vh;
    width: 2.5vw;

    flex: 1;
    transition: 0.3s;

    font-size: 1.2rem;

    padding: 5px;
    margin-right: 10px;

    background-color: white;
    color: green;

    border: 2px solid green;
    border-radius: 10px;
}

#btn1:hover {
    background-color: green;
    color: white;
}

/* Styling for a task which gets added to to-do list */

#container div {
    width: 20vw;
    height: 9vh;

    display: flex;
    align-items: center;

    margin: 1% 1% 0 1%;

    background: white;
    border-radius: 20px;
    box-shadow: 0 0 3px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}

#container div span {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 5vh;
    width: 15vw;

    margin-right: 5%;
}

#container div button {    
    height: 5vh;
    width: 2.5vw;

    flex: 1;
    transition: 0.3s;

    font-size: 1.2rem;

    padding: 5px;
    margin: 15px;

    background-color: white;
    color: red;

    border: 2px solid red;
    border-radius: 10px;
}

#container div button:hover {
    background-color: red;
    color: white;
}

#completedMsg {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}